<div class="container">
  <div class="carousel">
    <ngb-carousel [showNavigationArrows]="showNavigationArrows" [interval]="interval">
      <ng-template ngbSlide>
        <img src="https://3-photos7.motorcar.com/used-2019-acura-tlx-courtesyvehicle-763-17727603-4-1024.jpg" class="img-fluid" alt="Random first slide">
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://4-photos7.motorcar.com/used-2018-land_rover-discovery_sport-courtesyvehicle-762-17444327-4-1024.jpg" class="img-fluid" alt="Random second slide">
        <div class="carousel-caption">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="https://2-photos7.motorcar.com/used-2018-land_rover-discovery_sport-courtesyvehicle-762-17388644-6-1024.jpg" class="img-fluid" alt="Random third slide">
        <div class="carousel-caption">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="pre-owned-cars-header">
  <h1>Pre-Owned Cars</h1>
</div>
<div class="pre-owned-cars-content">
  <p>We have a large selection of certified pre-owned automobiles to meet your needs, whatever those needs may be. All our pre-owned cars go through a 60-point checklist by our ASE-certified technicians. If you're looking for a new car, check out our <a routerLink="/nw-cars">new car selection</a>.</p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pre-Owned Offers</h5>
        <p class="card-text">If you have questions about any of our pre-owned automobiles, we have the answers. One of our associates would be happy to talk. Take your test drive today!</p>
        <a routerLink="/contact" class="btn btn-primary">Shcedule an Appointment</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Looking for something else?</h5>
        <p class="card-text">To ensure optimum performance of all systems and components, your automobile needs regular maintenance. This helps maintain value and helps ensure road safety.</p>
        <a routerLink="/services" class="btn btn-primary">Schedule Service</a>
      </div>
    </div>
  </div>
</div>