<app-nav-bar></app-nav-bar>

<div class="jumbotron jumbotron-fluid">
  <h1>Welcome To Dan's Auto Emporium</h1>
  <p>Simply The Best of the Midwest!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="https://images.unsplash.com/photo-1523676060187-f55189a71f5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ead3ae36f1c95df4cdb88434540e29ad&auto=format&fit=crop&w=1650&q=80" style="width:400px;height:300px;">
      <h3>Unmatched Selection.</h3>
      <p>Obtaining your dream car can be a hassle, but with our vast inventory we can make your dream a reality.</p>
    </div>
    <div class="col-3">
      <img src="https://images.unsplash.com/photo-1493994807689-406227cceebd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0b9832e15d974a13f13f6ae410a544f&auto=format&fit=crop&w=1650&q=80" style="width:400px;height:300px;">
      <h3>Service They Can't Beat.</h3>
      <p>We make sure the your needs are met, and that we're accessible to you when you need it the most.</p>
    </div>
    <div class="col-3">
      <img src="https://images.unsplash.com/photo-1519120433933-22bc753101f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c060da69122e5913e1929d81dded165e&auto=format&fit=crop&w=2850&q=80" style="width:400px;height:300px;">
      <h3>Detail Beyond Compare.</h3>
      <p>Put down that old wash rag, and look at our interior and exterior packages.</p>
    </div>
  </div>
</div>