<div class="col-12 col-md-8">
  <ngb-alert *ngIf="submitted" [dismissible]="false" type="success">
    Thank you. We will contact you soon.
  </ngb-alert>
</div>

<form (ngSubmit)="contactForm.form.valid && onSubmit()" #contactForm="ngForm" class="col-12 col-md-8" novalidate>
  <div class="form-row">
    <div class="form-group col-12 col-md-6">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && firstName.invalid }" id="inputFirstName" required>
      <div *ngIf="contactForm.submitted && firstName.invalid" class="invalid-feedback">
        <div *ngIf="firstName.errors.required">First Name is required.</div>
    </div>
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && lastName.invalid }" id="inputLastName" required>
      <div *ngIf="contactForm.submitted && lastName.invalid" class="invalid-feedback">
        <div *ngIf="lastName.errors.required">Last Name is required.</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail">Email Address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && email.invalid }" id="inputEmail" required email>
    <div *ngIf="contactForm.submitted && email.invalid" class="invalid-feedback">
      <div *ngIf="email.errors.required">Email is required.</div>
      <div *ngIf="email.errors.email">Email must be a valid email address.</div>
  </div>
  </div>
  <div class="form-group">
      <label for="inputPhone">Phone Number<small class="text-muted help-text"> Optional</small></label>
      <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && phone.invalid }" id="inputPhone">
    </div>
  <div class="form-group">
    <label for="inputQuestion">Got a Question?</label>
    <textarea class="form-control" name="question" [(ngModel)]="model.question" #question="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && question.invalid }" id="inputQuestion" rows="3" required></textarea>
    <div *ngIf="contactForm.submitted && question.invalid" class="invalid-feedback">
      <div *ngIf="question.errors.required">A question or comment is required.</div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
