<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="logo">
    <a class="car-logo" routerLink='/'>
      <img src="../../assets/carfavicon.png" width="36" height="36" alt="Interview Test Logo">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink='/new-cars'>New Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/pre-owned-cars'>Pre-Owned Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/services'>Services</a>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact'>Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-sm-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>