<app-nav-bar></app-nav-bar>

<div class="container">

  <div class="jumbotron">
    <h1>Welcome to or Services Page!</h1>
  </div>
  <div class="panel-primary">
    <div class="panel-heading">
      <h2>We've got the cars, if you've got the cash!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New, user, and certified pre-owned</h5>
          <p class="card-text">Spacious, cozy, safe, modern, and once in a while even amusing to drive, our average
            size cars
            convey more value for your money than other sized vehicles. It's no big surprise we stay
            among the best in offering mid-sized sedans in the nation. Check out our <a routerLink="/pre-owned-cars">NewCar</a> listings, for your next vehicle!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Not just sales, but reapirs and cosmetics</h5>
          <p class="card-text">We can bring your wrecked car back to life, or touch up that scape from a hit-and-run at
            our shop! Refer to
            the
            drop down menu below for our full list of offerings.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="service-listings">Select from service list (select one):</label>
    <select class="form-control" id="service-listings">
      <option>general repair services</option>
      <option>engine services</option>
      <option>general detailing services</option>
      <option>interior repair</option>
    </select>

    <label class="btn">
      <input type="submit" class="btn btn-primary" value="Submit Button">
    </label>
  </div>
</div>
